.profile-row
  .profile
    = image_tag Gravatar.new(gravatar_email_address).image_url(size: 200, secure: true)
  .bio
    %h2
      Hi, I am  #{full_name}.
    %h3
      I am a systems engineer and coach living in #{city}.
    / Short bio about yourself, your skills, whether you're looking for work or not, etc.
    %p
      My main company is <a href="https://uberspace.de">Uberspace</a>, at the development department.
    %p
      I also work as a coach and consultant. Please feel free to contact me!
